<body>
<h2>Let's get in touch!</h2>
<br>
<h3>
    Email<br>
    <small>
        aguo5520@gmail.com
    </small>

</h3>

<br>
<h3>
    Phone
    <br>
    <small>(925) 989-9996</small>
</h3>
<br>
<h3>Github<i class="fa fa-github fa-lg"></i>
    <br>
    <small>
        <a class="pdf-download" href="https://github.com/alanishungry" target="_blank">

            https://github.com/alanishungry
        </a>
    </small>
</h3>

<br>

<h3>LinkedIn<i class="fa fa-linkedin-square fa-lg"></i>
    <br>
    <small>
        <a  class="pdf-download" href="https://www.linkedin.com/in/alanguo5520" target="_blank">

            https://www.linkedin.com/in/alanguo5520
        </a>
    </small>
</h3>

<br>

<h3>Stack Overflow<i class="fa fa-stack-overflow fa-lg"></i>
    <br>
    <small>
        <a  class="pdf-download" href="http://stackoverflow.com/users/5835009/alan-guo" target="_blank">

            http://stackoverflow.com/users/5835009/alan-guo
        </a>
    </small>
</h3>


</body>