<body>
<h1><b>Projects</b></h1>
<br>
<h2>Rowcord
    <br>
    <small>
        Web app aimed to help organize rowing teams and practices,<br>
        catering specifically to the unique workouts and structure of a rowing team.
    </small>
</h2>
<h3><em>Features</em><br>
    <small>
        <ul>
            <li>
                Various privileges based on user type (e.g. coach, coxswain, rower)
            </li>
            <li>Able to visualize team structure</li>
            <li>Create, record, and assign workouts</li>
        </ul>
    </small>
</h3>

<br>

<h2>Liftmo
    <br>
    <small>
        Weightlifting App
    </small>
</h2>
<h3><em>Features</em><br>
    <small>
        <ul>
            <li>
                Easily record gym workouts
            </li>
            <li>Store and retrieve workout history</li>
            <li>Android and Web Apps</li>
            <li>Lift and anatomy dictionaries</li>
        </ul>
    </small>
</h3>

</body>