
<body>

<b><u><a class="pdf-download" href="../resources/AlanGuo_Resume_080816.pdf" target="_blank">
    Click here for PDF Download
</a></u></b>

<h2>Education</h2>
<h4>B.S. Computer Science and Electrical and Computer Engineering (ECE)</h4>
<h5>August 2013 - May 2017</h5>
<ul>
    <li>GPA: 3.485/4.000</li>
    <li>SAT: 2300</li>
</ul>
<h2>Experience</h2>

<h4>Software Engineering Intern at Veeva Systems</h4>
<h5>June 2016 - August 2016</h5>
<ul>
    <li>Developed full stack network monitoring dashboard
        which stored network process statuses in database
        and displayed important statistics and detailed
        reports on the web application’s UI</li>
    <li>
        Automated fetching network process statuses,
        parsing that data by analyzing statuses,
        and emailing summary to relevant recipients,
        which all had been done manually in the past
    </li>
    <li>
        Introduced Cron scheduler which allowed ability
        to schedule various tasks at any user input schedule
    </li>
</ul>

<h4>Engineering Intern at Bergin Lab</h4>
<h5>September 2015 - Current</h5>
<ul>
    <li>
        Lead the hardware and software design of
        a low cost air quality sensor package using
        microcontrollers and a variety of sensors to
        collect various measures of air quality
    </li>
    <li>
        Deployed these air quality sensors in
        China to test air quality and use for research
        of the effect of air quality on asthmatic
        Chinese students
    </li>
</ul>
<h1>Technologies</h1>
<ul>
    <li>AngularJS</li>
    <li>Java</li>
    <li>Git</li>
</ul>
</body>